.home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.me {
    width: 50vw;
    padding: 1rem;
}

.border-gradient {
    border: 2rem solid;
    border-image-slice: 1;
    border-image-source:
        linear-gradient(
            to right,
            #a4c7b2,
            #819c8c,
            #5e7266
        ) ;
  }