/* header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
}

header.sticky {
    position: fixed;
    top: 0;
    background-color: white;
} */

/* .container {
    margin: 0;
} */

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}
.icons {
    height: 5vh;
}

